@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif; }

section {
  padding: 0 30px;
  font-size: 1rem; }

body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh; }

nav {
  font-size: 1.5rem; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
